* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Permanent Marker", cursive;
}

.mobilenav {
  display: none;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../images-png/bg_comics_en.png);
  background-size: cover;
}

main {
  background-color: rgb(248, 248, 248);
  flex: 1;
  padding: 1% 0;
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
  z-index: 0;
}
main::before {
  content: "";
  background: url(../images-png/bg-logo.png) center / contain no-repeat;
  width: 50%;
  height: 50%;
  opacity: 0.05;
  position: absolute;
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  z-index: -1;
}
.spaced {
  justify-content: space-between;
}
.bg-orange {
  background-color: #f28607;
}

.c-orange {
  color: #f28607;
}
.bg-lgray {
  background-color: #d9d9d9;
}
.txt-white {
  color: aliceblue;
}

.center {
  align-items: center;
}
.column {
  flex-direction: column;
}
.txt-black {
  color: black;
}
.centered {
  justify-content: center;
}
.txt-center {
  text-align: center;
}
.d-flex {
  display: flex;
}

.p-10 {
  padding: 10px;
}

.p-5 {
  padding: 5px;
}

.p-20 {
  padding: 20px;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
/* structure */
nav {
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  z-index: 1;
}

.logocontainer {
  /* width: vw;   pourquoi j'ai enlevé la taille? */
  height: 12.5vh;
  padding: 10px;
}
.logo {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* barre recherche */

.search {
  padding: 10px 20px;
}
.textinput::placeholder {
  color: black;
  opacity: 1;
  padding: 5px;
  padding-left: 20px;
}
.textinput {
  border-radius: 50px;
  height: 5vh;
  width: 25vw;
  position: relative;
  padding: 1vw;
}

.searchicon {
  transform: translatex(-200%);
}

a:hover {
  color: aliceblue;
  text-decoration: underline overline aliceblue;
  font-size: 1.3em;
}
/* fin barre de recherche */

/* debut langue */
#langue {
  border-radius: 20px;
  background-color: #d9d9d9;
  color: black;
  padding: 5px 12px 5px 15px;
}

.langue {
  padding-right: 10px;
}

/* bouton dropdown */

.dropbtn {
  color: black;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 2px black;
  width: 50px;
  height: 50px;
  background-color: #f28607;
}
.dropbtn::before {
  content: "\f078";
  font-family: "Font Awesome 6 Free";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: 600;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  border-radius: 2%;
  font-size: large;
  transform: translatex(-30%);
}

.dropdown-content a {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #f28607;
}

.show {
  display: block;
}
.bg-before::before {
  content: "";
  background: url(../images-png/bg-logo.png) center / contain no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  position: absolute;
  z-index: -1;
}

/* nav baniere */

.nav-banniere {
  width: auto;
  object-fit: contain;
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.img-baniere {
  margin-top: 5vh;
  width: auto;
  height: 100%;
}

/* main content */
.perso-title {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10%; */
}

.perso-title h1 {
  -webkit-text-stroke: 0.3px #f28607;
  font-size: 5vw;
  height: 15vw;
  width: auto;
}
.perso {
  height: 20vw;
  width: 80%;
  margin: 4vw 0;
}
b {
  text-decoration: underline;
}
.txt p {
  font-size: 1.5vw;
  text-align: center;
}
.perso img {
  height: 150%;
}
.btn-more {
  border: none;
  border-radius: 20px;
  padding: 1vw 1vw;
  background-color: #f28607;
  cursor: pointer;
}

.btn-more:hover {
  font-size: 70%;
}

/* debut footer */

footer {
  background-color: black;
  /* bottom: 0; */
  /* height: 20%; */
}

.footertxt {
  font-size: 0.7em;
}

i:hover:not(.dropdown),
.footertxt:hover {
  color: #f28607;
  font-size: 1em;
}

/* debut responsive mobile */

@media screen and (max-width: 1200px) {
  main {
    background-color: #d9d9d9;
  }

  .login,
  .navigation,
  #langue {
    display: none;
  }

  .logocontainer {
    order: 2;
  }

  .search {
    order: 1;
    padding-right: 0;
  }

  .textinput {
    height: 30px;
    width: 150px;
    font-size: large;
    padding-left: 10px;
  }
  .searchicon {
    font-size: 20px;
    transform: translate(-200%);
  }

  .logocontainer {
    width: 70px;
    height: 70px;
  }
  .logo {
    width: 100%;
    height: 100%;
  }
  .mobilhead {
    width: 100vw;
    padding: 10px;
  }

  .mobilenav {
    display: block;
  }
  .footertxt {
    font-size: 0.5em;
  }
  .perso-title {
    -webkit-text-stroke: 0.3px #f28607;
    font-size: 3vw;
  }
  .perso-title h1 {
    height: 20vw;
  }
}

/* debut responsive tablette */
/* regarder doc breakpoints   992*/
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .mobilhead {
    gap: 25%;
  }
}
